<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.licenta2022">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Licenta2022">
        <activity
            android:name=".EmployeeHouseKeepingActivity"
            android:exported="false" />
        <activity
            android:name=".EmployeeRoomServiceActivity"
            android:exported="false" />
        <activity
            android:name=".EmployeeRoomProblemsActivity"
            android:exported="false" />
        <activity
            android:name=".EmployeeActivity"
            android:exported="false" />
        <activity
            android:name=".HotelActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".RoomServiceActivity"
            android:exported="false" />
        <activity
            android:name=".RoomActivity"
            android:exported="false" />
        <activity
            android:name=".BalconyActivity"
            android:exported="false" />
        <activity
            android:name=".DealsTripsActivity"
            android:exported="false" />
        <activity
            android:name=".FragmenteActivity"
            android:exported="false" />
        <activity
            android:name=".TripsActivity"
            android:exported="false" />
        <activity
            android:name=".QRCodeActivity"
            android:exported="false" />
        <activity
            android:name=".ListeActivity"
            android:exported="false" />
        <activity
            android:name=".SecondActivity"
            android:exported="false" />
        <activity
            android:name=".UserSelectorActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>